XMPPRoster.addUser (and similar) should return an ID for the sent presence

When sending presences and IQs to an XMPP server, we may want to check that we actually _send_ them. To that effect, we implement a delegate capturing the `didSend` and `didNotSend` variety of "events".

In order for this delegate to decide if it's seen the "event" matching the element we sent, we would compare the ID of the (not-)sent element and the one the delegate method receives.

Unfortunately, `XMPPRoster.addUser` (and many other methods that wrap IQ or presence sending) do not return the ID of the elements they send, so we can not perform robust checks.

Please make such wrappers set an (almost surely) unique ID, and return it to the caller.

Full API change proposal and discussion is welcome, however please maintain backwards compatibility when working on a PR. 

I don't speak Objective-C, so I won't be able to work on this.
I also don't have a full overview over XMPPFramework. Basically, all methods that send a presence or IQ should set and return an ID so delegates can match responses from the server to method calls.

Note also [section 8.1.3 of RFC 6120](https://xmpp.org/rfcs/rfc6120.html#stanzas-attributes-id):

> For <message/> and <presence/> stanzas, it is RECOMMENDED for the originating entity to include an 'id' attribute; for <iq/> stanzas, it is REQUIRED. 

Changing return type `void` to `NSString` should not break existing sources. Warnings may happen because the return value is ignored, but that's as well: it's possible that that code can be improved now!

FWIW, the "real" solution is probably to use `XMPPIDTracker` internally and call appropriate `didSend`-style methods on `XMPPRosterDelegate`s.

@reitzig Agreed, I think `XMPPIDTracker` is the better approach.